<?xml version="1.0" encoding="utf-8"?>
<launch>
<param type="int" name="listener_num" value="2"/>
<node type="rostalker" pkg="rostalker" name="presenter" output="screen">
</node>
<machine name="broad" address="broad.cse.sc.edu" env-loader="/opt/ros/hydro/env.sh" user="song24"/>
<node type="roslistener" pkg="roslistener" name="listener1">
<param type="int" name="listenerid" value="1"/>
</node>
<machine name="saluda" address="saluda.cse.sc.edu" env-loader="/opt/ros/hydro/env.sh" user="song24"/>
<node type="roslistener" pkg="roslistener" name="listener2">
<param type="int" name="listenerid" value="2"/>
</node>
</launch>
